<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h4 class="display-3">Dashboard</h4>
    
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">User</th>
          <th scope="col">email</th>
          <th scope="col">Web3 Account</th>
          <th scope="col">Token Position</th>
        </tr>
      </thead>
      <tbody>
        <tr>          
          <td><%= userDashboard.username %></td>
          <td><%= userDashboard.email %></td>
          <td id="web3account"><%= userDashboard.web3Account[0] %></td>
          <td><%= userDashboard.tokenPosition[0] %></td>
        </tr>        
      </tbody>
    </table>

        
    <hr>
    
    <a class="btn btn-light btn-lg" href="/auth/logout" role="button">Log Out</a>
    
    
    <a id="enableEthereumButton" class="btn btn-dark btn-lg"  role="button" onclick="getAccount()">Connect Wallet</a>
  </div>
</div>

<script>
  function getAccount() { 
    window.ethereum.request({method: 'eth_accounts'})
    .then((result) => {
      console.log(result);
      result = currentAccount;
    // $.post('/auth/dashboard/web3account', {web3Account: currentAccount}, (result))
    // return result;
    })
    .catch((err) => {
      $('#web3account').text(e.message);
    })        
  }      
</script>

<%- include('partials/footer') %>

