<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h4 class="display-3">Dashboard</h4>
    
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">User</th>
          <th scope="col">email</th>
          <th scope="col">Web3 Account</th>
          <th scope="col">Token Position</th>
        </tr>
      </thead>
      <tbody>
        <tr>          
          <td><%= userDashboard.username %></td>
          <td><%= userDashboard.email %></td>
          <td id="web3account"><%= userDashboard.web3Account[0] %></td>
          <td><%= userDashboard.tokenPosition[0] %></td>
        </tr>        
      </tbody>
    </table>   
    <hr>    
    <a class="btn btn-light btn-lg" href="/auth/logout" role="button">Log Out</a>    
    <a class="btn btn-dark btn-lg"  role="button" onclick="connect()">Connect Wallet</a>
  </div>
  <hr>
  <div>
    <form action="/auth/ipfshash" method="POST" enctype="multipart/form-data">            
      <div class="form-group">
        <label for="uploadfile">Upload File</label>
        <input type="file" class="form-control" name="uploadfile">
      </div>      
      <button type="submit" class="btn btn-dark">Upload File</button>
    </form>
  </div>
</div>

<script>
  const getAccount =  async () => {
    try {
      let result;
      const currentAccount = await ethereum.request({
        method: 'eth_accounts'
    })
    result = currentAccount;
    // $('#account').text(result);
    console.log(result);
    return result;
    } catch (e) {
      // $('#account').text(e.message);
    }
    return currentAccount;
    // $.post('/auth/dashboard/web3account', {web3account: currentAccount}, (req, res), () => {
    //   console.log('post');
    // })   
  }
  
const connect =  async () => { 
      await window.ethereum.request({ method: 'eth_requestAccounts' });
      await getAccount();
         
    // if (window.ethereum) {
    //   const [ ethConnet, ethAccount] = await Promise.all([ connect(), getAccount() ]);            
    // } else {
    //   console.log('no metamask');
    // }
  }
  
</script>

<%- include('partials/footer') %>

