<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h4 class="display-3">Dashboard</h4>
    
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">User</th>
          <th scope="col">email</th>
          <th scope="col">Web3 Account</th>
          <th scope="col">Token Position</th>
        </tr>
      </thead>
      <tbody>
        <tr>          
          <td><%= userDashboard.username %></td>
          <td><%= userDashboard.email %></td>
          <td id="web3account"><%= userDashboard.web3Account[0] %></td>
          <td><%= userDashboard.tokenPosition[0] %></td>
        </tr>        
      </tbody>
    </table>

        
    <hr>
    
    <a class="btn btn-light btn-lg" href="/auth/logout" role="button">Log Out</a>
    <%  let connect = false; %>
    <%  function includeConnect() { %>
    <%    connect = true; %>
    <%  } %>
    <%  if (connect) { %>
    <%- include('partials/metamask/connectWallet'); %>
    <%  } %>
    <a id="enableEthereumButton" class="btn btn-dark btn-lg"  role="button" onclick="includeConnect()">Connect Wallet</a>
  </div>
</div>



<%- include('partials/footer') %>

